################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/System.X/System.X/bin/Debug/netcoreapp3.1
