################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
/System.SDKs/bin
/System.SDKs/obj
/System.X/bin
/System.X/obj
/System.X.Tests/obj
/System.X.Tests/bin
*.user
